{% extends 'base.html' %}

{% block title %}Blog | {{ post.title }}{% endblock title %}

{% block content %}
    <main id="detail-page" class="flex-col align">
        {% if user.is_authenticated %}
        <div class="post-control flex-row align">
            <i class="fa-solid fa-file-pen" onclick="window.location.href = '{% url 'update' post.id %}'"></i>
            <i class="fa-solid fa-trash-can" onclick="window.location.href = '{% url 'delete' post.id %}'"></i>
        </div>
        {% endif %}
        <article class="container">
            <h1>{{ post.title }}</h1>
            <h3>{{ post.subtitle }}</h3>
            <div class="flex-row align">
                <h3>by: <span>{{ post.author.first_name|default:"Anonymous" }} {{ post.author.last_name|default:"Author" }}</span></h3>
                <h3 class="post-date"> {{ post.created_on }}</h3>
            </div>
            <p>{{ post.body }}</p>
        </article>
    </main>
{% endblock content %}