{% extends 'base.html' %}

{% block title %}Blog | Posts{% endblock title %}

{% block content %}
<main id="list-page">
    <section class="container flex-col">
        <div class="hero-headline flex-col justify">
            <h1>Unveiling the Digital Realm: Code, Tech, and the Hacker's Odyssey</h1>
            <p>Welcome to our digital domain where we embark on a journey through the intricate world of coding, the latest in tech innovations, and the intriguing realm of hackers.<br><br> Join us as we explore the ever-evolving landscape of technology, uncovering hidden gems, and unraveling the mysteries of the digital universe. Whether you're a seasoned developer, a tech enthusiast, or simply curious about the digital frontier, you're in for an exciting ride. Dive in and let's decode the future together.</p>
        </div>
    </section>

    {% if user.is_authenticated %}
    <div id="add-post" class="flex-col container">
        <button class="button" onclick="window.location.href = '{% url 'new' %}'"><i class="fa-solid fa-pen-to-square"></i> Post</button>
    </div>
    {% endif %}
   
    <section id="posts-container" class="container flex-row justify">
        {% for post in post_list %}
        <article class="post-item">
            <figure class="flex-col">
                <img src="https://source.unsplash.com/random/800x800/?img=15" alt="">
                <figcaption>
                    <h2>{{ post.title }}</h2>
                    <div class="flex-row align">
                        <h3>by: <span>{{ post.author.first_name|default:"Anonymous" }} {{ post.author.last_name|default:"Author" }}</span></h3>
                        <h3 class="post-date"> {{ post.created_on }}</h3>
                    </div>
                    <p>{{ post.subtitle }}</p>
                </figcaption>
                <button class="button" onclick="window.location.href = '{% url 'detail' post.id %}'"> <i class="fa-solid fa-arrow-up-right-from-square"></i>Read</button>
            </figure>
        </article>
        {% endfor %}
    </section>
  
</main>
{% endblock content %}