{% extends 'base.html' %}

{% block title %} The Bytle Club  | Log In{% endblock title %}

{% block content %}
<main id="login-page">
    <div class="container">
        <h1>Log In</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="flex-row align">
                <input type="submit" class="btn btn-success" value="Log In">
                <button class="button" onclick="window.location.href = '{% url 'password_reset' %}'">Reset Password</button>
            </div>
        </form>
        
    </div>
</main>
{% endblock content %}