{% extends 'base.html' %}

{% block title %}Blog | About{% endblock title %}

{% block content %}
<main id="about-page" class="flex-col justify">
    <section class="container">
        <div class="hero-headline flex-col justify">
            <h1>Where Code, Hack, and Digital Nomadism Converge</h1>
            <p>At Byte Club, we are more than just a hub for digital nomads; we are a thriving community where the realms of code, hacking, the internet, and the web seamlessly intertwine. Here, knowledge flows freely, creativity knows no bounds, and connections span the globe. <br><br> Whether you're a coding wizard, a cybersecurity enthusiast, or a wanderer of the virtual world, Byte Club welcomes you to a vibrant ecosystem where exploration and innovation reign supreme. Join us in decoding the future, one byte at a time.</p>
        </div>
    </section>
</main>
{% endblock content %}