<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script src="https://kit.fontawesome.com/c7dcac8717.js" crossorigin="anonymous"></script>
</head>
<body>
  <div id="user-panel-backdrop" class="hidden"></div>
    <nav>
      <div class="container nav-container flex-row align">
        <ul class="flex-row align">
            <li class="brand-container flex-col">
              <a href="{% url 'home' %}">
                <span>The</span>
                <h1>Byte Club</h1>
              </a>
            </li>
            <li>
              <a href="{% url 'home' %}">Home</a>
            </li>
            <li>
              <a href="{% url 'about' %}">About</a>
            </li>
            <li>
              <a href="{% url 'list' %}">Blog</a>
            </li>
        </ul>
        <ul id="user-block" class="flex-row align">
          {% if user.is_authenticated %}
            <li class="user-control flex-row align">
              <p class="nav-link"><span id="user-greeting"></span>
                {% if user.is_superuser %}
                  <i class="fa-solid fa-user-gear"></i> 
                {% endif %}
                {{ user.first_name|default:"Anonymous Author" }}!
              </p>
              <i id="user-toggle-button" class="fa-solid fa-square-caret-right"></i>
            </li>
            
            <ul id="user-panel" class="hidden flex-col">
              <li>
                <a class="nav-link" href="{% url 'password_change' %}">Change Password</a>
              </li>
              <li>
                <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
              </li>
            </ul>
            
            
          {% else %}
            <div class="flex-row">
              <li>
                <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
              </li>
              <li>
                <a class="nav-link" href="{% url 'login' %}">Log In</a>
              </li>
            </div>
          {% endif %}
        </ul>
    </nav>

    {% block content %}
    {% endblock content %}

    <script src="{% static 'js/base.js' %}"></script>
</body>
</html>